.u-section-1 .u-sheet-1 {
  min-height: 1351px;
}

.u-section-1 .u-group-1 {
  width: 176px;
  min-height: 41px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 8px;
}

.u-section-1 .u-text-1 {
  margin: -32px 876px 0 20px;
}

.u-section-1 .u-text-2 {
  margin: 32px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 0.75rem;
  margin: 7px auto 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  margin: 33px auto 0 0;
  padding: 0 15px 0 13px;
}

.u-section-1 .u-icon-2 {
  font-size: 1.5em;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  background-image: none;
  margin: -38px auto 0 67px;
  padding: 0 15px 0 13px;
}

.u-section-1 .u-icon-3 {
  font-size: 1.5em;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  background-image: none;
  margin: -40px auto 0 139px;
  padding: 0 15px 0 13px;
}

.u-section-1 .u-icon-4 {
  font-size: 1.5em;
}

.u-section-1 .u-image-1 {
  width: 765px;
  height: 372px;
  margin: 58px auto 0 0;
}

.u-section-1 .u-text-4 {
  margin: 61px 342px 9px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 696px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 142px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 476px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 350px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 296px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 263px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 96px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 166px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 942px;
}

.u-section-2 .u-image-1 {
  width: 840px;
  height: 532px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  margin: 30px 158px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 866px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 456px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 752px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 342px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 625px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 215px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1666px;
}

.u-section-3 .u-group-1 {
  width: 176px;
  min-height: 41px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 8px;
}

.u-section-3 .u-text-1 {
  margin: -32px 1036px 0 20px;
}

.u-section-3 .u-text-2 {
  margin: 32px auto 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 0.75rem;
  margin: 7px auto 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  margin: 33px auto 0 0;
  padding: 0 15px 0 13px;
}

.u-section-3 .u-icon-2 {
  font-size: 1.5em;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  background-image: none;
  margin: -38px auto 0 67px;
  padding: 0 15px 0 13px;
}

.u-section-3 .u-icon-3 {
  font-size: 1.5em;
}

.u-section-3 .u-btn-3 {
  border-style: none;
  background-image: none;
  margin: -40px auto 0 139px;
  padding: 0 15px 0 13px;
}

.u-section-3 .u-icon-4 {
  font-size: 1.5em;
}

.u-section-3 .u-text-4 {
  margin: 35px 414px 0 0;
}

.u-section-3 .u-image-1 {
  width: 365px;
  height: 510px;
  margin: -704px 0 0 auto;
}

.u-section-3 .u-text-5 {
  margin: 264px 0 0 494px;
}

.u-section-3 .u-image-2 {
  width: 418px;
  height: 585px;
  margin: -576px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 856px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 214px;
  }

  .u-section-3 .u-image-1 {
    height: 511px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 294px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 636px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 74px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 456px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1522px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 256px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 476px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 476px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1724px;
}

.u-section-4 .u-group-1 {
  width: 176px;
  min-height: 41px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 8px;
}

.u-section-4 .u-text-1 {
  margin: -32px 1036px 0 20px;
}

.u-section-4 .u-text-2 {
  margin: 32px auto 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 0.75rem;
  margin: 7px auto 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  margin: 33px auto 0 0;
  padding: 0 15px 0 13px;
}

.u-section-4 .u-icon-2 {
  font-size: 1.5em;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  background-image: none;
  margin: -38px auto 0 67px;
  padding: 0 15px 0 13px;
}

.u-section-4 .u-icon-3 {
  font-size: 1.5em;
}

.u-section-4 .u-btn-3 {
  border-style: none;
  background-image: none;
  margin: -40px auto 0 139px;
  padding: 0 15px 0 13px;
}

.u-section-4 .u-icon-4 {
  font-size: 1.5em;
}

.u-section-4 .u-text-4 {
  margin: 55px 20px 0 0;
}

.u-section-4 .u-image-1 {
  width: 957px;
  height: 464px;
  margin: 22px auto 0;
}

.u-section-4 .u-text-5 {
  margin: 38px 20px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1716px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 856px;
    margin-left: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    width: 940px;
    height: 456px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1609px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 636px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 349px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1522px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 456px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 262px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1425px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 256px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 165px;
  }
}