.u-section-1 .u-sheet-1 {
  min-height: 1435px;
}

.u-section-1 .u-group-1 {
  width: 176px;
  min-height: 41px;
  margin: 1px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 8px;
}

.u-section-1 .u-text-1 {
  margin: -32px 716px 0 20px;
}

.u-section-1 .u-text-2 {
  margin: 32px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 0.75rem;
  margin: 7px auto 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  margin: 33px auto 0 0;
  padding: 0 15px 0 13px;
}

.u-section-1 .u-icon-2 {
  font-size: 1.5em;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  background-image: none;
  margin: -38px auto 0 67px;
  padding: 0 15px 0 13px;
}

.u-section-1 .u-icon-3 {
  font-size: 1.5em;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  background-image: none;
  margin: -40px auto 0 139px;
  padding: 0 15px 0 13px;
}

.u-section-1 .u-icon-4 {
  font-size: 1.5em;
}

.u-section-1 .u-image-1 {
  width: 765px;
  height: 372px;
  margin: 58px auto 0 0;
}

.u-section-1 .u-text-4 {
  margin: 56px 259px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 536px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 59px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1413px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 316px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 350px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1326px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 136px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 263px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1229px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 166px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1026px;
}

.u-section-2 .u-image-1 {
  width: 777px;
  height: 455px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  margin: 48px 248px 43px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 48px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 993px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 422px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 888px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 317px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 771px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 200px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1263px;
}

.u-section-3 .u-group-1 {
  width: 212px;
  min-height: 41px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 8px;
}

.u-section-3 .u-text-1 {
  margin: -31px 928px 0 39px;
}

.u-section-3 .u-text-2 {
  font-size: 0.75rem;
  margin: 48px 935px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  margin: 32px auto 0 0;
  padding: 0 15px 0 13px;
}

.u-section-3 .u-icon-2 {
  font-size: 1.5em;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  background-image: none;
  margin: -38px auto 0 67px;
  padding: 0 15px 0 13px;
}

.u-section-3 .u-icon-3 {
  font-size: 1.5em;
}

.u-section-3 .u-btn-3 {
  border-style: none;
  background-image: none;
  margin: -40px auto 0 139px;
  padding: 0 15px 0 13px;
}

.u-section-3 .u-icon-4 {
  font-size: 1.5em;
}

.u-section-3 .u-text-3 {
  margin: 39px 295px 32px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 865px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 735px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 406px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 645px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 515px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 186px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 465px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 335px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: 265px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 135px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }
}